.toDo-list__item-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}
.toDo-list__item-title {
  font-size: 23px;
  text-align: center;
}
.toDo-list__item-information .toDo-list__item-description {
  font-size: 17px;
  margin: 0;
}
.toDo-list__item-information .toDo-list__delete-button {
  border-radius: 50%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: red;
  border: 1px solid red;
}
