.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
.app .app__warning {
  text-align: center;
}
.app .app__header-title {
  font-weight: bold;
  font-size: 24px;
}
