.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app .app__warning {
  text-align: center;
}
.app .app__header-title {
  font-weight: bold;
  font-size: 24px;
}
